<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>fav-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fav-page</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="home()">Home</ion-button>
  <div id="personas">
    <app-user-info *ngFor="let user of (users.users$ | async) | favs:(favs.fav_users$ | async)" 
    [user]="user.fav?user:null" (onFavClicked)="onFavClicked(user)" class="persona"></app-user-info>
  </div>
  <ion-loading [isOpen]="loading" class="custom-loading" message="Loading..."></ion-loading>
</ion-content>
