<ion-card button (click)="onCardClick()">
  <ion-card-header>
    <ion-button class="delete-button" fill="clear" aria-label="Delete" (click)="onDeleteClick($event)">
      <ion-icon slot="icon-only"  color="primary" name="trash" aria-hidden="true"></ion-icon>
    </ion-button>
    <ion-button class="fav-button" fill="clear" aria-label="Favorite" (click)="onFavClick($event)">
      <ion-icon *ngIf="user?.fav" slot="icon-only" color="danger" name="heart" aria-hidden="true"></ion-icon>
      <ion-icon *ngIf="!user?.fav" slot="icon-only" color="medium" name="heart-outline" aria-hidden="true"></ion-icon>
    </ion-button>
    <div id="cabecera">
      <ion-item>
        <img id="avatar" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-item>
      <ion-card-title>{{user?.nombre}} {{user?.apellidos | slice:0:1}}</ion-card-title>
      
    </div>
  </ion-card-header>
  <ion-card-content>
    <ion-card-subtitle>Nombre:</ion-card-subtitle>
    <ion-card-content>{{user?.nombre}}</ion-card-content>

    <ion-card-subtitle>Apellidos:</ion-card-subtitle>
    <ion-card-content>{{user?.apellidos}}</ion-card-content>

    <ion-card-subtitle>Edad:</ion-card-subtitle>
    <ion-card-content>{{user?.edad}}</ion-card-content>
  </ion-card-content>
</ion-card>