<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="welcome()">Ir a Welcome</ion-button>
  <div id="personas">
    <app-user-info *ngFor="let user of users.users$ | async" 
    [user]="user" (onFavClicked)="onFavClicked(user, $event)" (onCardClicked)="onCardClicked()" 
    (onDeleteClicked)="onDeleteClicked(user)" class="persona"></app-user-info>    
  </div>
  <ion-loading [isOpen]="loading" class="custom-loading" message="Loading..."></ion-loading>
</ion-content>